.true {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color: white; 
    animation: true 3s ease-in infinite both;
}

@keyframes true {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

body {
    background-color: cornflowerblue;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.box {
    width: 350px;
    height: 350px;
}